* {
	box-sizing: border-box;
}
    img {
        float: left;
        margin: 0px 20px 0px 5px;
      }
      .film{ 
        float: left;
        margin: 0px 0px 0px 0px; 
      }
      
      body {
        font-family: "Lucida Console", Monaco, monospace; 
        border-style: hidden;
        border-radius: 12px;
        background-color: #f4f4e7;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-right: 60px;
        margin-left: 60px;}

        figure {
            float: left;
            margin-top: 0px;
        margin-bottom: 15px;
        margin-right: 17px;
        margin-left: 15px;}
        }
        figcaption {
            font-size: 30px;
            margin-top: 10px;
        }
        html {
            background-image: url(wall.jpg);
            height: 100%; 
            background-repeat: no-repeat;
            
        }
        p{
            margin-left: 10px;
            margin-right: 10px;
        }
        h1 {
            margin-left: 10px;  
        }
        
        h2 {
            margin-left: 10px;  
        }
        h3 {
            margin-left: 10px;  
        }

        iframe {
            margin-left: 10px ;
            border: 1px solid black;
        }

        .flex-container {
            display: flex;
          }
          
         .second{
             margin-left: 5px;
         }
